<div class="product-card-primary forheader">
  <div class="fruits_card">
    <a href="{{ product.url }}">
      <div class="fc_top">
        {% assign images = product.images %}

        <div class="fc_image">
          {% if images.size > 0 %}
            <img
              src="{{ images.first | img_url: 'master' }}"
              alt="{{ product.title | escape }}"
              class="img_sizing primary-img">

            {% if images.size > 1 %}
              <img
                src="{{ images[1] | img_url: 'master' }}"
                alt="{{ product.title | escape }}"
                class="img_sizing hover-img">
            {% endif %}
          {% else %}
            <img
              src="{{ 'https://cdn.shopify.com/s/files/1/0752/8015/4881/files/placeholder.jpg?v=1760532683' }}"
              alt="No Image Available"
              class="img_sizing primary-img">
          {% endif %}
        </div>

        <div class="fc-image-overlays">
            <div class="fc-image-top-items">
                {% if product.tags contains 'Best Seller' %}
                <div class="fc_bestsell_tags">
                    <span>Bestseller</span>
                </div>
                {% endif %}

                {% if product.metafields.custom.certificate %}
                {% assign certificate = product.metafields.custom.certificate.value %}
                {% for item in product.metafields.custom.certificate.value %}
                    <div class="fc_organic_auth">
                    <img
                        src="{{ item.badge_image | img_url:'master' }}"
                        alt="{{ item.display_name }}"
                        class="img_sizing">
                    </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="fc-image-bottom-items">
                <p class="fc_product_title">
                    {{ product.title | truncate: 50 }}
                </p>
            </div>
        </div>

        
      </div>
    </a>
  </div>
</div>