{% comment %}
  This section is used in the cart template to render /cart page with an
  overview of the items in customer's cart.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/cart
{% endcomment %}

<section class="cart-page">
  <div class="container-fluid">
    <div class="cardp-details">
      <div class="cart-header">
        <div class="carthead-left">
          <h1>{{ 'cart.title' | t }}</h1>
        </div>
        <div class="carthead-right">
            <div class="sch-left">
                <p>
                    <span id="cart_item_count">({{ cart.item_count }} items)</span>
                </p>
            </div>
        </div>
      </div>
      <div class="cart-data">
        <form action="{{ routes.cart_url }}" method="post">
          <table>
            {% for item in cart.items %}
              {% comment %} <tr>
                <td>{% render 'image', image: item.image, url: item.url %}</td>
                <td><p>{{ item.product.title }}</p>{{ 'cart.remove' | t | link_to: item.url_to_remove }}
                </td>
                <td>
                  <input
                    type="text"
                    name="updates[]"
                    value="{{ item.quantity }}">
                  <input type="submit" value="{{ 'cart.update' | t }}">
                </td>
              </tr> {% endcomment %}
              <div class="recommended-item">
              <div class="ri-img">
                <img src="item.image" alt="${product.title}" class="product-card__image">
              </div>
              <div class="ri-txt">
                <p class="rit-title">{{item.product.title}}</p>
              </div>
              <div class="ri-form">
                <form action="/cart/add" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="${varId}">
                        <input type="hidden" name="quantity" value="1">
                        <div class="fc_add_to_cart">
                            <span class="remove_product">
                                <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.09961 11.3408H17.8457" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                            <button type="submit" id="add-to-cart" {% unless product.available %} {% endunless %}>
                                {% if product.available %}Add to Cart{% else %}Sold Out{% endif %}
                            </button>
                            <span class="add_product">
                                <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.5645 4.96582V17.7119" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M5.19727 11.3408H17.9434" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                        </div>
                    </form>
              </div>
        </div>
            {% endfor %}
          </table>

          <input
            type="submit"
            name="checkout"
            value="{{ 'cart.checkout' | t }}">
        </form>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "t:general.cart",
    "settings": []
  }
{% endschema %}