<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<section class="contact-page">
    <div class="banner-bg">
        <img src="{{ section.settings['banner-bg'] | img_url: 'master' }}" alt="Banner Image" class="img">
    </div>
    <div class="contactpage-in">
        <div class="container">
            <div class="cpi-in">
                <div class="cpi-grid-wrap">
                    <div class="cgw-left">
                        <div class="cgwl-top">
                            <div class="cgwlt-top">
                                <h1 data-aos="fade-up" data-aos-duration="1000">{{ section.settings.head }}</h1>
                                <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">{{ section.settings.para }}</p>
                            </div>
                            <div class="cgwlt-bottom">

                                {% if section.settings.email != blank %}
                                <div class="cgwlt-item">
                                    <div class="cgwlt-item-label">email</div>
                                    <div class="cgwlt-item-data">
                                        <a class="line" href="mailto:{{ section.settings.email }}">{{ section.settings.email }}</a>
                                    </div>
                                </div>
                                {% endif %}

                                {% if section.settings.phone != blank or section.settings.phone_data != blank %}
                                <div class="cgwlt-item">
                                    <div class="cgwlt-item-label">Phone</div>
                                    <div class="cgwlt-item-data">
                                        {% if section.settings.phone != blank %}
                                            <a href="tel:{{ section.settings.phone }}">{{ section.settings.phone }}</a>
                                        {% endif %}
                                        {% if section.settings.phone_data != blank %}
                                            <p>{{ section.settings.phone_data }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}

                                {% if section.settings.address != blank %}
                                <div class="cgwlt-item">
                                    <div class="cgwlt-item-label">Address</div>
                                    <div class="cgwlt-item-data">
                                        <p>{{ section.settings.address }}</p>
                                    </div>
                                </div>
                                {% endif %}

                                {% if section.settings.social_link != blank and section.settings.social_link_text != blank %}
                                <div class="cgwlt-item">
                                    <div class="cgwlt-item-label with-link">
                                        <a href="{{ section.settings.social_link }}" target="_blank">{{ section.settings.social_link_text }}</a>
                                    </div>
                                </div>
                                {% endif %}

                                {% if section.blocks.size > 0 %}
                                <div class="cgwlt-item">
                                    <div class="cgwlt-item-social">
                                        {% for block in section.blocks %}
                                            {% if block.settings.social_link != blank or block.settings.social_icon != blank %}
                                            <div class="cis-item">
                                                <a href="{{ block.settings.social_link }}">
                                                    <img 
                                                        src="{{ block.settings.social_icon | img_url: 'master' }}" 
                                                        alt="Social Media Image" 
                                                        class="img">
                                                </a>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}

                            </div>

                        </div>
                        <div class="cgwl-bottom">
                            <div class="bcb-reviews-wrap">
                                {% for block in section.blocks %}
                                    <div class="bcbr-item" {{ block.shopify_attributes }}>
                                        <div class="bcbri-top">{{ block.settings['review-top'] }}</div>
                                        <div class="bcbri-bottom">
                                            {% render 'rating-stars-fa', rating: block.settings.review_star %}
                                            <div class="rating-text" aria-hidden="true">
                                                {{ block.settings.review_star }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                          </div>
                        </div>
                    </div>
                    <div class="cgw-right">
                        <div class="cgwr-form">
                            {% form 'contact', id: 'contactID' %}
                            {% if form.posted_successfully? %}
                                <script>
                                    window.location = "/pages/thank-you";
                                </script>
                            {% else %}
                                {{ form.errors | default_errors }}
                            {% endif %}
                            <div class="form-group">
                                <label for="name">your name</label>
                                <input id="name" type="text" required name="contact[name]" placeholder="Enter full name">
                            </div>
                            <div class="form-group">
                                <label for="email">Your Email</label>
                                <input type="text" id="email" required name="contact[email]" placeholder="Enter email id">
                            </div>
                            <div class="form-group">
                                <label for="phone">your phone number (Optional)</label>
                                <input type="tel" id="phone" placeholder="Enter phone number" minlength="0" maxlength="10" name="contact[phone]">
                            </div>
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <div class="custom-select">
                                    <select name="contact[subject]" id="subject" required>
                                        <option value="0">Please select one listed department division</option>
                                        <option value="My current order">My current order</option>
                                        <option value="Custom design">Custom design</option>
                                        <option value="Payment">Payment</option>
                                        <option value="Warranty">Warranty</option>
                                        <option value="Resizes">Resizes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="contact-form-btn">
                                <input type="submit" placeholder="submit">
                            </div>
                            {% endform %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</section>


<script>
  var jsonPath = '{{ "countries.json" | asset_url | json_escape }}';
  var statesPath = '{{ "states.json" | asset_url | json_escape }}';

  function fetchCountriesAndPopulateSelect() {
    fetch(jsonPath)
    .then(response => {
        if (!response.ok) {
        throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        console.log('Data:', data);

        // Assuming data has a "countries" property which is an array
        const countries = data.countries || [];

        if (Array.isArray(countries)) {
                const selectElement = document.getElementById('country');
                const countryNames = countries.map(country => {
                const optionElement = document.createElement('option');
                optionElement.value = country.id;
                optionElement.text = country.name;
                selectElement.appendChild(optionElement);
            });
            initializeCustomSelectDropdowns();
        } else {
            console.error('The "countries" property is not an array or is missing:', data);
        }
    })
    .catch(error => console.error('Error fetching or parsing JSON:', error));

  }

  function initializeCustomSelectDropdowns() {
  var countrySelect = document.getElementById('country'); // Replace with the actual ID of your country select element
  var stateSelect = document.getElementById('state'); // Replace with the actual ID of your state select element

  countrySelect.addEventListener('change', function () {
    var selectedCountryId = this.value;
    if (selectedCountryId) {
        console.log(selectedCountryId);
        fetchAndPopulateStates(selectedCountryId);
    } else {
      // Clear states if no country is selected
      stateSelect.innerHTML = '<option value="" selected>Select State</option>';
    }
  });
  }

  function fetchAndPopulateStates(countryId) {
    fetch(statesPath) // Replace with the path to your states.json
        .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
        })
        .then(data => {
        
        console.log(countryId);
        // Assuming data has a "states" property which is an array
        const states = data.states || [];
        const selectElement = document.getElementById('state'); // Replace with the actual ID of your state select element

        // Clear existing options in the state select element
        selectElement.innerHTML = '<option value="" selected>Select State</option>';

        // Filter states based on the selected country
        const filteredStates = states.filter(state => state.country_id === countryId);

        filteredStates.forEach(state => {
            const optionElement = document.createElement('option');
            optionElement.value = state.id;
            optionElement.text = state.name;
            selectElement.appendChild(optionElement);
        });

        // You may want to trigger any additional actions here after updating states
        })
        .catch(error => console.error('Error fetching or parsing JSON:', error));
  }



    var x, i, j, l, ll, selElmnt, a, b, c;
    /* Look for any elements with the class "custom-select": */
    x = document.getElementsByClassName("custom-select");
    l = x.length;
    for (i = 0; i < l; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    ll = selElmnt.length;
    /* For each element, create a new DIV that will act as the selected item: */
    a = document.createElement("DIV");
    a.setAttribute("class", "select-selected");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /* For each element, create a new DIV that will contain the option list: */
    b = document.createElement("DIV");
    b.setAttribute("class", "select-items select-hide");
    for (j = 1; j < ll; j++) {
        /* For each option in the original select element,
        create a new DIV that will act as an option item: */
        c = document.createElement("DIV");
        c.innerHTML = selElmnt.options[j].innerHTML;
        c.addEventListener("click", function(e) {
            /* When an item is clicked, update the original select box,
            and the selected item: */
            var y, i, k, s, h, sl, yl;
            s = this.parentNode.parentNode.getElementsByTagName("select")[0];
            sl = s.length;
            h = this.parentNode.previousSibling;
            for (i = 0; i < sl; i++) {
            if (s.options[i].innerHTML == this.innerHTML) {
                s.selectedIndex = i;
                h.innerHTML = this.innerHTML;
                y = this.parentNode.getElementsByClassName("same-as-selected");
                yl = y.length;
                for (k = 0; k < yl; k++) {
                y[k].removeAttribute("class");
                }
                this.setAttribute("class", "same-as-selected");
                break;
            }
            }
            h.click();
        });
        b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
        /* When the select box is clicked, close any other select boxes,
        and open/close the current select box: */
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
    });
    }


  fetchCountriesAndPopulateSelect();

  function closeAllSelect(elmnt) {
  /* A function that will close all select boxes in the document,
  except the current select box: */
  var x, y, i, xl, yl, arrNo = [];
  x = document.getElementsByClassName("select-items");
  y = document.getElementsByClassName("select-selected");
  xl = x.length;
  yl = y.length;
  for (i = 0; i < yl; i++) {
    if (elmnt == y[i]) {
      arrNo.push(i)
    } else {
      y[i].classList.remove("select-arrow-active");
    }
  }
  for (i = 0; i < xl; i++) {
    if (arrNo.indexOf(i)) {
      x[i].classList.add("select-hide");
    }
  }
  }

  /* If the user clicks anywhere outside the select box,
  then close all select boxes: */
  document.addEventListener("click", closeAllSelect);

  document.querySelectorAll('.footer-top-circle').forEach((e)=>{
   e.addEventListener("mouseenter", ()=>{
    document.querySelectorAll('.footer-top-circle').forEach((f)=>{
       f.style.transition=".4s ease all";
       f.style.transitionDelay="0s";
       f.classList.remove('active');
    })
     e.classList.add('active');
   })
   e.addEventListener("mouseleave", ()=>{
     e.classList.remove('active');
   })
  })


</script>


{% schema %}
  {
    "name": "Contact Template",
    "settings": [
        {
            "type": "image_picker",
            "id": "banner-bg",
            "label": "Banner Image"
        },
        {
            "type": "text",
            "id": "head",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "para",
            "label": "Paragraph"
        },
        {
            "type": "text",
            "id": "email",
            "label": "Email"
        },
        {
            "type": "text",
            "id": "phone",
            "label": "Phone (tel)"
        },
        {
            "type": "text",
            "id": "phone_data",
            "label": "Phone additional info (displayed under number)"
        },
        {
            "type": "text",
            "id": "address",
            "label": "Address"
        },
        {
            "type": "url",
            "id": "social_link",
            "label": "Social Link (single link area)"
        },
        {
            "type": "text",
            "id": "social_link_text",
            "label": "Social Link Text"
        }
    ],
    "blocks": [
      {
        "name": "Reviews",
        "type": "reviews",
        "settings": [
            {
                "type": "text",
                "id": "review-top",
                "label": "Platform Name",
                "default": "Google Reviews"
            },
            {
                "type": "range",
                "id": "review_star",
                "min": 0,
                "max": 5,
                "step": 0.1,
                "label": "Star Ratings",
                "default": 4.7
            }
        ]
      },
      {
        "name": "Social Icon",
        "type": "social_icon",
        "settings": [
            {
                "type": "url",
                "id": "social_link",
                "label": "Social URL"
            },
            {
                "type": "image_picker",
                "id": "social_icon",
                "label": "Social Icon (image)"
            }
        ]
      }
    ],
    "max_blocks": 10,
    "presets": [
        {
        "name": "Contact Template",
        "category": "Contact"
        }
    ]
  }
{% endschema %}