<section class="counter-sec">
    <div class="counts-bg">
        <img src="{{ section.settings.bg-image |img_url: 'master' }}" alt="">
    </div>
    <div class="counts-content">
        <div class="container">
            <div class="csc-in">
                <div class="sec-with-space">
                    <div class="heading center white">
                        <h2>{{ section.settings.heading }}</h2>
                        <p class="small">{{ section.settings.para }}</p>
                    </div>
                    <div class="counter-wrap">
                        {% for block in section.blocks %}
                            <div class="numb_in number-item">
                                <div class="numbold"><span class="value">{{ block.settings.number }}</span>{{ block.settings.expression }}</div>
                                <div class="numdetail">{{ block.settings.content }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    //Number counter
    var section = document.querySelector('.number_sec');
    var hasEntered = false;

    window.addEventListener('scroll', (e) => {
        var shouldAnimate = (window.scrollY + window.innerHeight) >= section.offsetTop;

        if (shouldAnimate && !hasEntered) {
        hasEntered = true;

        $('.value').each(function () {
            $(this).prop('Counter',0).animate({
            Counter: $(this).text()
            }, {
            duration: 2000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
            });
        });

        }
    });
</script>

{% schema %}
{
  "name": "Counter Sec",
  "settings": [
    {
        "type": "image_picker",
        "id": "bg-image",
        "label": "Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "para",
      "label": "Paragraph"
    }
  ],
  "blocks": [
    {
      "name": "counter",
      "type": "cards",
      "settings": [
        {
          "type": "number",
          "id": "number",
          "label": "Impact Number"
        },
        {
          "type": "text",
          "id": "expression",
          "label": "Impact Number Expression"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Impact Content"
        },
      ]
    }
  ]
}
{% endschema %}