{% if blog and blog.handle == 'news' %}
  <header class="site-header header-bg">
{% else %}
  <header class="site-header">
{% endif %}
  <div class="container">
    <div class="desktop-header">
      <div class="header-in">
        <div class="h-left">
          <div class="hamburger">
          <div class="open">
            {% render 'icon-menu' %}
          </div>
          <div class="close" style="display: none;">
            {% render 'icon-close' %}
          </div>
        </div>
          <div class="brand-logo mob-none flex">
            <a href="{{ shop.url }}">
              {% if section.settings.select_logo %}
                <img
                  src="{{ section.settings.select_logo | image_url }}"
                  alt="{{ shop.name | escape }}"
                  class="icon">
              {% else %}
                {{ shop.name }}
              {% endif %}
            </a>
          </div>
        </div>

        <div class="h-nav" id="mySidenav">
          <div class="hnav-menu">
            <ul>
              {% assign menu_right = section.blocks | where: 'type', 'nav_menu_right' %}
              {% for block in menu_right %}
                {%- comment -%} Resolve the selected menu safely (OS 2.0 & older) {%- endcomment -%}
                {%- assign selected_menu = menus[block.settings.nav_items_right] -%}
                {%- if selected_menu == blank -%}
                  {%- assign selected_menu = linklists[block.settings.nav_items_right] -%}
                {%- endif -%}

                {%- if selected_menu and selected_menu.links and selected_menu.links.size > 0 -%}
                  {%- assign nav_links = selected_menu.links -%}

                  {%- comment -%} Determine if we need a dropdown {%- endcomment -%}
                  {%- assign top_count   = nav_links.size -%}
                  {%- assign has_children = false -%}
                  {%- for l in nav_links -%}
                    {%- if l.links and l.links.size > 0 -%}
                      {%- assign has_children = true -%}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}

                  {%- assign needs_dropdown = false -%}
                  {%- if top_count > 1 or has_children -%}
                    {%- assign needs_dropdown = true -%}
                  {%- endif -%}

                  {%- if needs_dropdown -%}
                    <li class="nav-item has-mega-menu">
                      <div class="arrow">
                        <a href="{{ selected_menu.url | default: 'javascript:void()' }}" class="nav-link">
                          {{ selected_menu.title | default: 'Menu' }}
                        </a>
                        <span class="nav_arrow_down">{% render 'icon-arrow_down' %}</span>
                      </div>

                      <div class="mega-menu">
                        <div class="container">
                          <div class="mega-menu-split">
                            {%- comment -%} LEFT: groups with children {%- endcomment -%}
                            {%- assign any_child_groups = false -%}
                            {%- for link in nav_links -%}
                              {%- if link.links and link.links.size > 0 -%}
                                {%- assign any_child_groups = true -%}
                                {%- break -%}
                              {%- endif -%}
                            {%- endfor -%}

                            
                              <div class="mms-left">
                                {%- if any_child_groups -%}
                                {%- for link in nav_links -%}
                                  {%- if link.links and link.links.size > 0 -%}
                                  {%- assign child_count = link.links.size -%}

                                  {%- if child_count < 6 -%}
                                    <div class="child-block-straight">
                                  {%- else -%}
                                    <div class="child-block">
                                  {%- endif -%}

                                      <p class="links-heading">{{ link.title }}</p>
                                      <ul>
                                        {%- for sublink in link.links -%}
                                          <li>
                                            <a href="{{ sublink.url }}">
                                              <div class="link-flex">
                                                {%- if sublink.object and sublink.object.image -%}
                                                  <div class="lf-image">
                                                    <img
                                                      src="{{ sublink.object.image | image_url: width: 320 }}"
                                                      alt="{{ sublink.object.title | default: sublink.title | escape }}">
                                                  </div>
                                                {%- endif -%}
                                                <div class="lf-text">{{ sublink.title }}</div>
                                              </div>
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                {%- endif -%}

                                {%- endfor -%}

                                {%- endif -%}

                                {%- assign any_solo = false -%}
                                  {%- for link in nav_links -%}
                                    {%- if link.links == blank -%}
                                      {%- assign any_solo = true -%}
                                      {%- break -%}
                                    {%- endif -%}
                                  {%- endfor -%}

                                  {%- if any_solo -%}
                                    <div class="child-block-onlylink">
                                      <div class="child-block non-sublink">
                                        <ul>
                                          {%- for link in nav_links -%}
                                            {%- if link.links == blank -%}
                                              <li>
                                                <a href="{{ link.url }}">{{ link.title }}</a>
                                              </li>
                                            {%- endif -%}
                                          {%- endfor -%}
                                        </ul>
                                      </div>
                                    </div>
                                  {%- endif -%}
                              </div>
                            

                            {%- comment -%} MIDDLE: top-level links without children {%- endcomment -%}
                            

                            {%- comment -%} RIGHT: optional promo image from block setting {%- endcomment -%}
                            {%- if block.settings.product_list != '' -%}
                            {% for item in block.settings.product_list %}
                              <div class="mms-right">
                                {{ item.title }}
                              </div>
                            {% endfor %}
                            {%- endif -%}
                          </div>
                        </div>
                      </div>
                    </li>
                  {%- else -%}
                    {%- comment -%} Exactly one top-level link and no children → simple item {%- endcomment -%}
                    {%- assign single_link = nav_links.first -%}
                    {%- if single_link -%}
                      <li class="nav-item no-mega-menu">
                        <a href="{{ single_link.url }}" class="nav-link">{{ single_link.title }}</a>
                      </li>
                    {%- endif -%}
                  {%- endif -%}
                {%- endif -%}
              {% endfor %}
            </ul>


          </div>
        </div>

        

        <div class="h-right">
          <div class="header-icons-wrap flex">
            {% comment %} <a href="#" class="search">{% render 'icon-search' %}</a> {% endcomment %}
             <div class="hiw-search">
              <predictive-search>
                <form
                  action="{{ routes.search_url }}"
                  method="get"
                  role="search">
                  <div class="search-input-bar">
                    {% render 'icon-search' %}
                    <input
                      id="Search"
                      type="search"
                      name="q"
                      value="{{ search.terms | escape }}"
                      placeholder="Search for fruits"
                      role="combobox"
                      aria-expanded="false"
                      aria-owns="predictive-search-results"
                      aria-controls="predictive-search-results"
                      aria-haspopup="listbox"
                      aria-autocomplete="list">
                  </div>
                  <div class="for-mobile">
                    {% render 'icon-search' %}
                  </div>
                  <input
                    name="options[prefix]"
                    type="hidden"
                    value="last">

                  <div
                    id="predictive-search"
                    tabindex="-1"
                    style="display: none;"></div>
                </form>
              </predictive-search>
             </div>
            {% if customer %}
              <a href="{{ routes.account_url }}" class="cust-login">{% render 'icon-profile' %}</a>
            {% else %}
              <a href="{{ routes.account_login_url }}" class="profile">{% render 'icon-profile' %}</a>
            {% endif %}
            <div class="cart">
              <a href="javascript:void(0)" class="cart-open">
                {% render 'icon-cart' %}
              </a>
              {% if cart.item_count > 0 %}
                <span data-ajax-cart-bind="item_count" class="header__cart-quantity">{{ cart.item_count }}</span>
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "select_logo",
        "label": "Change Logo"
      }
    ],
    "blocks": [
      {
        "type": "nav_menu_right",
        "name": "Nav Menu Right",
        "settings": [
          {
            "type": "link_list",
            "id": "nav_items_right",
            "label": "Nav Items"
          }, {
            "type": "image_picker",
            "id": "mega_menu_img_right",
            "label": "Mega Menu Image Right"
          },
          {
            "type": "product_list",
            "id": "product_list",
            "label": "Select Products",
            "limit": 3
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Header"
      }
    ]
  }
{% endschema %}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>

<script>
  $(function() {
    // mobile drawer toggles (if you use them)
    $('.close').hide();
    $('.open').on('click', function() {
      $('.h-nav').addClass('active');
      $('body').addClass('stay');
      $('.close').show();
      $('.open').hide();
    });
    $('.close').on('click', function() {
      $('.h-nav').removeClass('active');
      $('body').removeClass('stay');
      $('.close').hide();
      $('.open').show();
    });

    // nested mobile subnav
    $('.mob-link_inner').on('click', function(e) {
      e.preventDefault();
      $(this).closest('.mob-link').find('.sublinks_wrapper').addClass('visible');
    });
    $('.mob-sublink_inner').on('click', function(e) {
      e.preventDefault();
      $(this).closest('.mob-sublink').find('.childlink_wrapper').addClass('visible');
    });
    $('.nav_back_link').on('click', function(e) {
      e.preventDefault();
      $(this).closest('.sublinks_wrapper').removeClass('visible');
    });
    $('.nav_back_sublink').on('click', function(e) {
      e.preventDefault();
      $(this).closest('.childlink_wrapper').removeClass('visible');
    });

    // backdrop hover for desktop mega menu
    $('.nav-item.has-mega-menu').on('mouseenter', function() {
      $('main').addClass('backdrop_bg');
    }).on('mouseleave', function() {
      $('main').removeClass('backdrop_bg');
    });
  });

  document.addEventListener("DOMContentLoaded", () => {
    const searchBar = document.querySelector(".search-input-bar");
    const icon = document.querySelector(".hiw-search .for-mobile"); 

    // When clicking the icon → activate input
    icon.addEventListener("click", (e) => {
      e.stopPropagation(); // prevent document click from firing
      searchBar.classList.add("active");
      input.focus(); // optional
    });

    // When clicking anywhere outside → remove active
    document.addEventListener("click", (e) => {
      if (!searchBar.contains(e.target)) {
        searchBar.classList.remove("active");
      }
    });
  });

</script>