{% if blog and blog.handle == 'news' %}
  <header class="site-header header-bg" data-ajax-cart-section>
{% else %}
  <header class="site-header" data-ajax-cart-section>
{% endif %}
  <div class="container">
    <div class="desktop-header">
      <div class="header-in">
        <div class="h-left">
          <div class="hamburger">
          <div class="open">
            {% render 'icon-menu' %}
          </div>
          <div class="close" style="display: none;">
            {% render 'icon-close' %}
          </div>
        </div>
          <div class="brand-logo mob-none flex">
            <a href="{{ shop.url }}">
              {% if section.settings.select_logo %}
                <img
                  src="{{ section.settings.select_logo | image_url }}"
                  alt="{{ shop.name | escape }}"
                  class="icon">
              {% else %}
                {{ shop.name }}
              {% endif %}
            </a>
          </div>
        </div>

        <div class="h-nav" id="mySidenav">
          <div class="hnav-menu">
            <ul>
              {% assign menu_right = section.blocks | where: 'type', 'nav_menu_right' %}
              {% for block in menu_right %}
                {%- comment -%} Resolve the selected menu safely (OS 2.0 & older) {%- endcomment -%}
                {%- assign selected_menu = menus[block.settings.nav_items_right] -%}
                {%- if selected_menu == blank -%}
                  {%- assign selected_menu = linklists[block.settings.nav_items_right] -%}
                {%- endif -%}

                {%- if selected_menu and selected_menu.links and selected_menu.links.size > 0 -%}
                  {%- assign nav_links = selected_menu.links -%}

                  {%- comment -%} Determine if we need a dropdown {%- endcomment -%}
                  {%- assign top_count   = nav_links.size -%}
                  {%- assign has_children = false -%}
                  {%- for l in nav_links -%}
                    {%- if l.links and l.links.size > 0 -%}
                      {%- assign has_children = true -%}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}

                  {%- assign needs_dropdown = false -%}
                  {%- if top_count > 1 or has_children -%}
                    {%- assign needs_dropdown = true -%}
                  {%- endif -%}

                  {%- if needs_dropdown -%}
                    <li class="nav-item has-mega-menu">
                      <div class="arrow">
                        <a href="{{ selected_menu.url | default: 'javascript:void()' }}" class="nav-link">
                          {{ selected_menu.title | default: 'Menu' }}
                        </a>
                        <span class="nav_arrow_down">{% render 'icon-arrow_down' %}</span>
                      </div>

                      <div class="mega-menu">
                        <div class="container">
                          <div class="mega-menu-split">
                            {%- comment -%} LEFT: groups with children {%- endcomment -%}
                            {%- assign any_child_groups = false -%}
                            {%- for link in nav_links -%}
                              {%- if link.links and link.links.size > 0 -%}
                                {%- assign any_child_groups = true -%}
                                {%- break -%}
                              {%- endif -%}
                            {%- endfor -%}

                            
                              <div class="mms-left">
                                {%- if any_child_groups -%}
                                {%- for link in nav_links -%}
                                  {%- if link.links and link.links.size > 0 -%}
                                  {%- assign child_count = link.links.size -%}

                                  {%- if child_count < 6 -%}
                                    <div class="child-block-straight">
                                  {%- else -%}
                                    <div class="child-block">
                                  {%- endif -%}

                                      <p class="links-heading">{{ link.title }}</p>
                                      <ul>
                                        {%- for sublink in link.links -%}
                                          <li>
                                            <a href="{{ sublink.url }}">
                                              <div class="link-flex">
                                                {%- if sublink.object and sublink.object.image -%}
                                                  <div class="lf-image">
                                                    <img
                                                      src="{{ sublink.object.image | image_url: width: 320 }}"
                                                      alt="{{ sublink.object.title | default: sublink.title | escape }}">
                                                  </div>
                                                {%- endif -%}
                                                <div class="lf-text">{{ sublink.title }}</div>
                                              </div>
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                {%- endif -%}

                                {%- endfor -%}

                                {%- endif -%}

                                {%- assign any_solo = false -%}
                                  {%- for link in nav_links -%}
                                    {%- if link.links == blank -%}
                                      {%- assign any_solo = true -%}
                                      {%- break -%}
                                    {%- endif -%}
                                  {%- endfor -%}

                                  {%- if any_solo -%}
                                    <div class="child-block-onlylink">
                                      <div class="child-block non-sublink">
                                        <ul>
                                          {%- for link in nav_links -%}
                                            {%- if link.links == blank -%}
                                              <li>
                                                <a href="{{ link.url }}">{{ link.title }}</a>
                                              </li>
                                            {%- endif -%}
                                          {%- endfor -%}
                                        </ul>
                                      </div>
                                    </div>
                                  {%- endif -%}
                              </div>
                            

                            {%- comment -%} MIDDLE: top-level links without children {%- endcomment -%}
                            

                            {%- comment -%} RIGHT: optional promo image from block setting {%- endcomment -%}
                            {%- if block.settings.product_list != blank -%}
                              <div class="mms-right">
                                <div class="mmsr-wrap">
                                    <div class="mmsr-top">
                                      Favourites
                                    </div>
                                    <div class="mmsr-bottom">
                                      {% for item in block.settings.product_list %}
                                        <div class="mms-right-item">
                                          {%- render 'product-card-header', product: item -%}
                                        </div>
                                      {% endfor %}
                                    </div>
                                  </div>
                                
                              </div>
                            {%- endif -%}
                          </div>
                        </div>
                      </div>
                    </li>
                  {%- else -%}
                    {%- comment -%} Exactly one top-level link and no children → simple item {%- endcomment -%}
                    {%- assign single_link = nav_links.first -%}
                    {%- if single_link -%}
                      <li class="nav-item no-mega-menu">
                        <a href="{{ single_link.url }}" class="nav-link">{{ single_link.title }}</a>
                      </li>
                    {%- endif -%}
                  {%- endif -%}
                {%- endif -%}
              {% endfor %}
            </ul>


          </div>
        </div>

        

        <div class="h-right">
          <div class="header-icons-wrap flex">
            {% comment %} <a href="#" class="search">{% render 'icon-search' %}</a> {% endcomment %}
             <div class="hiw-search">
              <predictive-search>
                <form
                  action="{{ routes.search_url }}"
                  method="get"
                  role="search">
                  <div class="search-input-bar">
                    {% render 'icon-search' %}
                    <input
                      id="Search"
                      type="search"
                      name="q"
                      value="{{ search.terms | escape }}"
                      placeholder="Search for fruits"
                      role="combobox"
                      aria-expanded="false"
                      aria-owns="predictive-search-results"
                      aria-controls="predictive-search-results"
                      aria-haspopup="listbox"
                      aria-autocomplete="list">
                  </div>
                  <div class="for-mobile">
                    {% render 'icon-search' %}
                  </div>
                  <input
                    name="options[prefix]"
                    type="hidden"
                    value="last">

                  <div id="predictive-search" class="predictive-search" hidden>
                    <div class="ps-grid">
                      <div class="ps-suggestions">
                        <p class="ps-title">Suggestions</p>
                        <ul class="ps-list ps-suggestions-list" data-lenis-prevent></ul>
                      </div>

                      <div class="ps-products">
                        <p class="ps-title">Products</p>
                        <ul class="ps-list ps-products-list" data-lenis-prevent></ul>
                      </div>
                    </div>

                    <div class="ps-empty-state" hidden>
                      <p>No results found</p>
                    </div>

                    <a href="#" class="ps-view-all">
                      Search for "<span></span>" →
                    </a>
                  </div>

                </form>
              </predictive-search>
             </div>
            {% if customer %}
              <a href="{{ routes.account_url }}" class="cust-login">{% render 'icon-profile' %}</a>
            {% else %}
              <a href="{{ routes.account_login_url }}" class="profile">{% render 'icon-profile' %}</a>
            {% endif %}
            <div class="cart" data-ajax-cart-section>
              <a href="javascript:void(0)" class="cart-open">
                {% render 'icon-cart' %}
              </a>
              <span
                data-ajax-cart-bind="item_count"
                class="header__cart-quantity{% if cart.item_count == 0 %} is-hidden{% endif %}">
                {{ cart.item_count }}
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "select_logo",
        "label": "Change Logo"
      }
    ],
    "blocks": [
      {
        "type": "nav_menu_right",
        "name": "Nav Menu Right",
        "settings": [
          {
            "type": "link_list",
            "id": "nav_items_right",
            "label": "Nav Items"
          }, {
            "type": "image_picker",
            "id": "mega_menu_img_right",
            "label": "Mega Menu Image Right"
          },
          {
            "type": "product_list",
            "id": "product_list",
            "label": "Select Products",
            "limit": 3
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Header"
      }
    ]
  }
{% endschema %}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>

<script>
  $(function() {
    // mobile drawer toggles (if you use them)
    $('.close').hide();
    $('.open').on('click', function() {
      $('.h-nav').addClass('active');
      $('body').attr('data-lenis-prevent', 'true'); // add attribute
      $('.close').show();
      $('.open').hide();
    });
    $('.close').on('click', function() {
      $('.h-nav').removeClass('active');
      $('body').removeAttr('data-lenis-prevent'); // remove attribute
      $('.close').hide();
      $('.open').show();
    });

    // nested mobile subnav
    $('.mob-link_inner').on('click', function(e) {
      e.preventDefault();
      $(this).closest('.mob-link').find('.sublinks_wrapper').addClass('visible');
    });
    $('.mob-sublink_inner').on('click', function(e) {
      e.preventDefault();
      $(this).closest('.mob-sublink').find('.childlink_wrapper').addClass('visible');
    });
    $('.nav_back_link').on('click', function(e) {
      e.preventDefault();
      $(this).closest('.sublinks_wrapper').removeClass('visible');
    });
    $('.nav_back_sublink').on('click', function(e) {
      e.preventDefault();
      $(this).closest('.childlink_wrapper').removeClass('visible');
    });

    // backdrop hover for desktop mega menu
    $('.nav-item.has-mega-menu').on('mouseenter', function() {
      $('main').addClass('backdrop_bg');
    }).on('mouseleave', function() {
      $('main').removeClass('backdrop_bg');
    });
  });

  document.addEventListener("DOMContentLoaded", () => {
    const searchBar = document.querySelector(".search-input-bar");
    const icon = document.querySelector(".hiw-search .for-mobile"); 

    // When clicking the icon → activate input
    icon.addEventListener("click", (e) => {
      e.stopPropagation(); // prevent document click from firing
      searchBar.classList.add("active");
      input.focus(); // optional
    });

    // When clicking anywhere outside → remove active
    document.addEventListener("click", (e) => {
      if (!searchBar.contains(e.target)) {
        searchBar.classList.remove("active");
      }
    });
  });

</script>

<script>
  function highlightMatch(text, query) {
    if (!query) return text;

    const escaped = query.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
    const regex = new RegExp(`(${escaped})`, 'ig');

    return text.replace(regex, '<mark>$1</mark>');
  }

class PredictiveSearch {
  constructor() {
    this.input = document.getElementById('Search');
    this.container = document.getElementById('predictive-search');
    this.suggestionsList = this.container.querySelector('.ps-suggestions-list');
    this.productsList = this.container.querySelector('.ps-products-list');
    this.viewAll = this.container.querySelector('.ps-view-all');
    this.abortController = null;

    this.input.addEventListener('input', this.onChange.bind(this));
    document.addEventListener('click', this.onOutsideClick.bind(this));
  }

  onChange() {
    const query = this.input.value.trim();

    if (query.length < 2) {
      this.close();
      return;
    }

    this.fetchResults(query);
  }

  fetchResults(query) {
    if (this.abortController) this.abortController.abort();
    this.abortController = new AbortController();

    fetch(
      `/search/suggest.json?q=${encodeURIComponent(query)}`
      + `&resources[type]=query,product`
      + `&resources[query][limit]=6`
      + `&resources[product][limit]=6`,
      { signal: this.abortController.signal }
    )

      .then(res => res.json())
      .then(data => this.render(data, query))
      .catch(() => {});
  }

  render(data, query) {
  const suggestions = data.resources.results.queries || [];
  const products = data.resources.results.products || [];
  const emptyState = this.container.querySelector('.ps-empty-state');

  // Clear first
  this.suggestionsList.innerHTML = '';
  this.productsList.innerHTML = '';

  // Fallback: use product titles as suggestions if queries are empty
  const finalSuggestions = suggestions.length
  ? suggestions
  : products.map(p => ({
      text: p.title,
      url: p.url
    }));

  // Render suggestions (always show left column)
  this.suggestionsList.innerHTML = finalSuggestions
    .slice(0, 6)
    .map(item => `
      <li>
        <a href="${item.url}">
          ${highlightMatch(item.text, query)}
        </a>
      </li>
    `)
    .join('');


  // Render products (right column)
  if (products.length) {
    this.productsList.innerHTML = products
      .map(product => `
        <li class="ps-product-item">
          <a href="${product.url}">
            <img src="${product.image}" alt="${product.title}">
            <span>${highlightMatch(product.title, query)}</span>

          </a>
        </li>
      `)
      .join('');
  }

  // Empty state logic
  const hasResults = suggestions.length || products.length;

  emptyState.hidden = hasResults;
  this.container.querySelector('.ps-grid').style.display = hasResults ? 'grid' : 'none';
  this.viewAll.style.display = hasResults ? 'flex' : 'none';

  // View all link
  this.viewAll.href = `/search?q=${encodeURIComponent(query)}`;
  this.viewAll.querySelector('span').textContent = query;

  this.open();
}


  open() {
    this.container.hidden = false;
    this.input.setAttribute('aria-expanded', 'true');
  }

  close() {
    this.container.hidden = true;
    this.input.setAttribute('aria-expanded', 'false');
  }

  onOutsideClick(e) {
    if (!e.target.closest('.hiw-search')) {
      this.close();
    }
  }
}

document.addEventListener('DOMContentLoaded', () => {
  new PredictiveSearch();
});
</script>

