<style>
  .image-text-scroll {
    background-color: #1A1A1A;
    padding: 40px 0;
    height: 100vh;
    position: relative;
  }
  .its-in {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
  }
  .durian {
    max-width: 430px;
    width: 25%;
    margin: 0 auto;
  }
  .durian svg {
    width: 100%;
    max-height: 100%;
    height: auto;
  }
  image {
    opacity: 0;
  }
  .dt-in {
    max-width: 35ch;
    position: absolute;
    opacity: 0;
  }
  .dt-in h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FCF9F5;
  }
  .dt-in p {
    color: #FCF9F5;
    font-size: 16px;
  }
  .dt-in.one {
    left: 70px;
    top: 160px;
  }
  .dt-in.two {
    left: 70px;
    bottom: 40px;
  }
  .dt-in.three {
    right: 70px;
    top: 250px;
  }
  .dt-in.four {
    right: 160px;
    max-width: 100%;
    bottom: 50px;
  }

</style>

<div class="image-text-scroll">
  <div class="container">
    <div class="its-in">
      <progress
        max="100"
        value="0"
        style="display: none;"></progress>
      <div class="heading center white small-width">
        <h2>{{ section.settings.heading }}</h2>
        <p class="small">{{ section.settings.para }}</p>
      </div>
      <div class="durian">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="424"
          height="579"
          viewBox="0 0 424 579"
          fill="none">
          <path d="M38.3143 379.845C39.8833 381.74 40.5043 384.159 39.9813 386.48L217.078 325.846L241.985 86.22L241.201 84.4222C239.632 80.8267 240.351 76.7735 243.064 73.7663L275.75 37.5495C280.392 32.4177 278.856 24.8017 272.449 21.4676L234.663 1.52874C228.191 -1.90337 219.791 0.678882 217.078 6.92204L182.986 85.2067C182.266 86.8083 180.501 90.2077 178.932 93.1822C177.069 96.7451 173.964 99.6869 170.074 101.583L86.1676 132.145C81.8857 133.714 79.4668 137.8 80.4474 141.82L87.5404 171.173C88.3576 174.539 86.7886 178.004 83.618 179.965L30.208 212.881C25.7626 215.627 24.7493 221.118 27.9853 224.975L41.3868 240.991C43.6422 243.672 43.9037 247.3 42.0733 250.209C42.0733 250.209 9.84418 307.574 0.920719 325.846C-0.648242 329.017 -0.190629 332.71 2.13013 335.521L38.3143 379.845Z" fill="url(#pattern0_6001_16571)" />
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="M309.834 528.619C307.968 528.958 306.231 529.774 304.864 530.97L253.121 575.979L253.12 575.98C251.092 577.759 248.206 578.58 245.371 578.234H245.372L114.004 561.303C110.572 560.862 107.707 558.726 106.624 555.848V555.847L83.4492 494.625V494.624L83.2832 494.222C82.4022 492.232 80.7343 490.58 78.6299 489.592H78.6289L29.4023 466.547H29.4014C25.908 464.906 24.0438 461.526 24.6309 458.152L24.6953 457.826L40.3848 386.568C40.9022 384.269 40.3556 381.887 38.9297 379.96L38.6328 379.581L2.4502 335.26L2.44922 335.258L2.24609 335.004C0.203165 332.349 -0.156459 328.954 1.29102 326.029L1.29199 326.027C5.74819 316.903 16.0308 298.004 25.2051 281.376C29.791 273.064 34.0981 265.322 37.2588 259.659C38.8391 256.828 40.1336 254.516 41.0322 252.912C41.4815 252.11 41.8321 251.485 42.0703 251.061C42.1892 250.849 42.2796 250.686 42.3408 250.577C42.3714 250.523 42.3946 250.481 42.4102 250.453C42.4155 250.444 42.4203 250.436 42.4238 250.43C44.3518 247.366 44.0721 243.541 41.7031 240.726H41.7041L28.3027 224.71L28.3018 224.709C25.2403 221.06 26.1778 215.856 30.4238 213.232L30.4248 213.233L83.835 180.317H83.8359C87.0366 178.338 88.7006 174.862 88.0156 171.409L87.9424 171.075L80.8496 141.723V141.722L80.7725 141.367C80.0925 137.814 82.1807 134.233 85.9297 132.682L86.3096 132.533L170.216 101.972L170.236 101.964L170.256 101.954C174.218 100.023 177.392 97.0213 179.299 93.374L179.298 93.373C180.864 90.4033 182.638 86.992 183.363 85.376L183.365 85.3721L217.457 7.08691C220.021 1.18683 227.93 -1.36026 234.174 1.74219L234.47 1.89453L272.256 21.833L272.258 21.835C278.347 25.0036 279.843 32.1296 275.647 37.04L275.443 37.2725L242.757 73.4893C239.941 76.6109 239.184 80.8361 240.821 84.5879L241.605 86.3857L241.606 86.3867C242.631 88.71 244.574 90.6113 247.045 91.7285L247.046 91.7295L333.307 130.267V130.268C337.538 132.148 339.4 136.56 337.737 140.412L330.317 157.377C328.556 161.418 330.298 165.985 334.387 168.233L334.388 168.234L392.7 200.234C396.739 202.457 398.167 206.986 396.102 210.686L396.101 210.687L381.163 237.587V237.588C378.787 241.871 380.614 247.029 385.188 249.328L385.639 249.541L418.552 264.313V264.314C422.441 266.071 424.368 269.956 423.264 273.618L423.261 273.626C423.258 273.633 423.255 273.645 423.25 273.66C423.24 273.69 423.225 273.734 423.206 273.793C423.168 273.911 423.11 274.086 423.035 274.315C422.885 274.774 422.665 275.45 422.382 276.318C421.816 278.054 420.999 280.559 419.999 283.634C417.998 289.783 415.262 298.213 412.318 307.333C406.456 325.493 399.768 346.396 396.435 357.486L396.338 357.552L396.295 357.695C394.822 362.616 395.527 367.804 398.267 372.281L422.756 412.347C423.63 414.96 422.953 417.819 420.942 419.892L420.941 419.893L373.09 469.378C371.513 470.989 370.651 473.086 370.651 475.225V510.951C370.651 514.77 367.625 518.091 363.341 518.879L309.834 528.619Z"
            stroke="#FCF9F5"
            stroke-width="0.827332" />
          <path
            d="M242.178 88.8447C243.279 90.6096 244.945 92.048 246.967 92.9619L246.969 92.9629L333.229 131.501H333.229C337.46 133.381 339.323 137.794 337.66 141.646L330.24 158.61H330.239C328.533 162.526 330.115 166.934 333.933 169.25L334.31 169.468L392.622 201.467V201.468C396.661 203.691 398.089 208.219 396.023 211.919L396.022 211.92L381.085 238.821C378.633 243.242 380.659 248.595 385.56 250.773V250.774L418.475 265.548C422.364 267.304 424.29 271.19 423.186 274.852L423.183 274.86C423.18 274.868 423.177 274.879 423.172 274.894C423.162 274.923 423.147 274.968 423.128 275.027C423.089 275.145 423.033 275.321 422.958 275.55C422.808 276.009 422.588 276.684 422.305 277.552C421.738 279.288 420.921 281.793 419.921 284.867C417.92 291.017 415.184 299.446 412.24 308.566C406.378 326.726 399.692 347.629 396.358 358.72L396.26 358.786L396.217 358.929C394.744 363.849 395.449 369.036 398.188 373.514V373.515L422.677 413.577C423.553 416.191 422.876 419.052 420.864 421.126H420.863L373.29 470.323L217.432 326.915L242.178 88.8447Z"
            fill="url(#pattern1_6001_16571)"
            stroke="#FCF9F5"
            stroke-width="0.827332" />
          <path
            d="M372.688 469.844C371.297 471.408 370.541 473.375 370.541 475.378V511.104C370.541 514.805 367.702 518.038 363.629 518.952L363.231 519.033L309.724 528.773C307.857 529.113 306.121 529.928 304.754 531.124L253.011 576.134L253.01 576.135C250.982 577.913 248.096 578.735 245.261 578.389H245.262L113.894 561.457C110.462 561.016 107.598 558.879 106.515 556.001H106.514L83.3389 494.778V494.777L83.1729 494.375C82.2918 492.386 80.624 490.734 78.5195 489.745H78.5186L29.293 466.701C25.6861 465.007 23.8151 461.461 24.585 457.98L24.5859 457.979L40.2246 386.949L216.868 326.471L372.688 469.844Z"
            fill="url(#pattern2_6001_16571)"
            stroke="#FCF9F5"
            stroke-width="0.827332" />
          <defs>
            <pattern
              id="pattern0_6001_16571"
              patternContentUnits="objectBoundingBox"
              width="1"
              height="1">
              <use xlink:href="#image1" transform="matrix(0.00173503 0 0 0.00125 -0.441812 0)" />
            </pattern>
            <pattern
              id="pattern1_6001_16571"
              patternContentUnits="objectBoundingBox"
              width="1"
              height="1">
              <use xlink:href="#image3" transform="matrix(0.00242533 0 0 0.00125 -0.490033 0)" />
            </pattern>
            <pattern
              id="pattern2_6001_16571"
              patternContentUnits="objectBoundingBox"
              width="1"
              height="1">
              <use xlink:href="#image2" transform="matrix(0.000905016 0 0 0.00125 -0.0430095 0)" />
            </pattern>
            <image
              id="image1"
              width="1200"
              height="800"
              preserveAspectRatio=""
              xlink:href="{{ section.settings.img1 |  img_url: 'master' }}" />
            <image
              id="image3"
              width="1200"
              height="800"
              preserveAspectRatio=""
              xlink:href="{{ section.settings.img2 |  img_url: 'master' }}" />
            <image
              id="image2"
              width="1200"
              height="800"
              preserveAspectRatio=""
              xlink:href="{{ section.settings.img3 |  img_url: 'master' }}" />
          </defs>
        </svg>
      </div>
      <div class="dt-in one">
        <h3>{{ section.settings.head1 }}</h3>
        <p>{{ section.settings.para1 }}</p>
      </div>
      <div class="dt-in two">
        <h3>{{ section.settings.head3 }}</h3>
        <p>{{ section.settings.para3 }}</p>
      </div>
      <div class="dt-in three">
        <h3>{{ section.settings.head2 }}</h3>
        <p>{{ section.settings.para2 }}</p>
      </div>
      <div class="dt-in four">
        <a href="{{ section.settings.cta_link.url }}" class="custom-btn white">{{ section.settings.cta_txt }}</a>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Durian Shape",
    "tag": "section",
    "class": "imageText",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Section Heading",
        "default": "Our story started with a durian"
      },
      {
        "type": "text",
        "id": "para",
        "label": "Paragraph",
        "default": "And 3 simple principles"
      },
      {
        "type": "image_picker",
        "id": "img1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "head1",
        "label": "Heading 1",
        "default": "Raw."
      }, {
        "type": "text",
        "id": "para1",
        "label": "Paragraph 1",
        "default": "As untouched as it gets — grown naturally, picked ripe. Nothing added, nothing rushed — just nature in its purest form."
      }, {
        "type": "image_picker",
        "id": "img2",
        "label": "Image 2"
      }, {
        "type": "text",
        "id": "head2",
        "label": "Heading 2",
        "default": "Real."
      }, {
        "type": "text",
        "id": "para2",
        "label": "Paragraph 2",
        "default": "Flavors you can feel — straight from the source. Grown with care, never compromised, and always full of soul."
      }, {
        "type": "image_picker",
        "id": "img3",
        "label": "Image 3"
      }, {
        "type": "text",
        "id": "head3",
        "label": "Heading 3",
        "default": "Roar!"
      }, {
        "type": "text",
        "id": "para3",
        "label": "Paragraph 3",
        "default": "The joy is wild — and made to be shared. Every bite connects you to something honest, rare, and alive."
      }, {
        "type": "page",
        "id": "cta_link",
        "label": "Button Link"
      }, {
        "type": "text",
        "id": "cta_txt",
        "label": "Button Text",
        "default": "discover our story"
      }
    ]
  }
{% endschema %}