{% comment %}
  This section is used in the search template to render search results for
  products, articles, and pages.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/search
{% endcomment %}

<div class="searchPage">
  <div class="collection-banner">
    <div class="container">
      <div class="cb-wrapper">
        <div class="heading center">
          <h1>{{ 'search.title' | t }}</h1>
        </div>
        <div class="searchpage-form">
          <form
            action="{{ routes.search_url }}"
            method="get"
            role="search">
            <input
              type="search"
              size="50"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'search.placeholder' | t }}">
            <button type="submit"class="custom-btn black">{{ 'search.submit' | t }}</button>
          </form>
          <div class="search-results">
            {% if search.results_count == 0 %}
              <p>{{ 'search.no_results_html' | t: terms: search.terms }}</p>
              {% else %}
              <p>{{ 'search.results_for_html' | t: terms: search.terms, count: search.results_count }}</p>
            {% endif %}
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="container">
    <div class="sr-in">
      <div class="collection-wrapper" id="ProductGrid">
      {% if search.performed %}
            {% paginate search.results by section.settings.number_of_product %}
                {% for results in search.results %}
                  {% render 'product-card-primary' | product: results %}
                {% endfor %}
                {% render 'pagination' | pagination: paginate %}
              {% endpaginate %}
            </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:general.search",
    "settings": []
  }
{% endschema %}