<section class="error-template">
  <div class="et-bg">
        <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/Vector_-_2025-12-08T192241.263.svg?v=1765201976" alt="">
    </div>
  <div class="container">
    <div class="et-data">
        <div class="etd-heading">
            <h1>{{ section.settings.head }}</h1>
            <p>{{ section.settings.subhead }}</p>
        </div>
        <div class="etd-desc">
            {{ section.settings.text }}
        </div>
        <div class="etd-button">
            {% if section.settings.cta-url.url != blank and section.settings.cta-txt != blank %}
            <a href="{{ section.settings.cta-url.url }}" class="line-btn dark">
                {{ section.settings.cta-txt }}
            </a>
            {% else %}
            <a href="{{ shop.url }}" class="line-btn dark">
                go back to homepage
            </a>
            {% endif %}
        </div>
        <div class="etd-logo">
            <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/Group_66.svg?v=1765202267" alt="">
        </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Thank You",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subhead",
        "label": "Sub Heading"
      }, 
      {
        "type": "richtext",
        "id": "text",
        "label": "Description"
      }, 
      {
        "type": "text",
        "id": "cta-txt",
        "label": "Button Text"
      }, 
      {
        "type": "page",
        "id": "cta-url",
        "label": "Select Page"
      }
    ]
  }
{% endschema %}